/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: orange; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF6014; 
}

body{
	margin:0px;
	padding:0px;
	
	/* background-color:black; */
	/* background-color:#FFE0D9; */
	
	
	
}

.container-fluid{
	margin:0px;
	padding:0px;
	/* border:1px solid blue; */
	
	z-index:2;
	
}

.container-fluid .row{
	margin:0px;
	padding:0px;
	/* border:1px solid red; */
	/* white-space: nowrap; */
}

.header{
	
	/* border:1px solid red; */
	
	/* height:100vh; */
	width:100%;
	
	/* display:flex; */
	
}

.navbar{
	
	/* border:1px solid red; */
	/* margin-top:10px; */
	
	z-index:100;
	margin-top:1.7vh;
	
	height:8vh;
	
	display:flex;
	justify-content:center;
	align-items:center;
	
	background: rgb(0,166,149);
	background: linear-gradient(90deg, rgba(0,166,149,1) 0%, rgba(85,71,112,1) 100%);
}


.navbar .logo-sec{
	
	/* border:1px solid green; */
	
	position:absolute;
	
	/* height:50px; */
	/* width:50px; */
	
	/* background: url(../img/logo.png) no-repeat center center / cover; */
	
	display:flex;
	justify-content:center;
	align-items:center;
	
	margin-top:0.1vh;
	/* transform: rotate(180deg); */
	
	transition:all 1s;
}

.navbar .logo-sec img{
	
	height:11vh;
	object-fit: fill;
	
}


#logo_sec:hover{
	
	/* color:#164E7B; */
	/* color:black; */
	transform:rotate(360deg);
	
}




.navbar .nav-holder{
	
	/* border:1px solid green; */
	height:inherit;
	
	position:absolute;
	
	display:flex;
	justify-content:center;
	align-items:center;
}

.navbar .main-ul{
	/* border:1px solid red; */
	list-style:none;
	
	margin:0px;
	padding:0px;
	
	display:flex;
	justify-content:center;
	align-items:center;
	
	height:inherit;
	/* height:50px; */
}


.navbar .main-ul .main-li{
	/* border:1px solid red; */
	display:inline-block;
	
	margin:0px 2vw;
	/* margin:0px 20px; */
	
	padding:0.3vh 1vw;
	
	transition:all 0.5s;
	/* transition:background 0.5s; */
	border-radius:10px 0px 10px 0px;
	

	border-top:2px solid transparent;
	border-left:2px solid transparent;
}


.navbar .main-ul .selected-main-li{

	/* border:1px solid black; */
	border-radius:0px 10px 0px 10px;
	
	border-top:2px solid #750B24;
	border-left:2px solid #750B24;
	
	background:#D30C35;
	
}

.navbar .main-ul .selected-main-li:hover{

	/* border:1px solid black; */
	border-radius:10px 0px 10px 0px;
	
	border-top:2px solid #750B24;
	border-left:2px solid #750B24;
	
	background:#C70039;
	
}


.navbar .main-ul .main-li:hover{
	background:#BB173F;
	
	border-top:2px solid #750B24;
	border-left:2px solid #750B24;
}

.navbar .main-ul .main-li a{
	display:flex;
	justify-content:center;
	align-items:center;
	
	/* font-family: 'Mate SC', serif; */
	font-family: 'Merriweather', serif;
	/* font-family: 'Squada One', cursive; */
	/* font-family: 'ZCOOL KuaiLe', cursive; */

	padding:0.3vh 1vw;
	
	/* font-size:2.5vh; */
	/* border:1px solid green; */
	text-decoration:none;
	/* padding:5px 15px; */
	/* font-weight:bold; */
	color:white;
}



@media only screen and (max-width: 425px) {
 
	.navbar .main-ul .main-li a{
		display:flex;
		justify-content:center;
		align-items:center;
		font-family: 'Merriweather', serif;
		padding:0.3vh 1vw;
		text-decoration:none;
		color:white;
		
		font-size:13px;
	}
	
}

@media only screen and (max-width: 360px) {
 
	.navbar .main-ul .main-li a{
		display:flex;
		justify-content:center;
		align-items:center;
		font-family: 'Merriweather', serif;
		padding:0.3vh 1vw;
		text-decoration:none;
		color:white;
		
		font-size:10px;
	}
	
	.navbar .main-ul .main-li:nth-child(2){
		margin-right:20px;
	}
	
	.navbar .main-ul .main-li{
		display:inline-block;
		margin:0px 1vw;
		padding:0.3vh 1vw;
		transition:all 0.5s;
		border-radius:10px 0px 10px 0px;
		border-top:2px solid transparent;
		border-left:2px solid transparent;
	}
}

@media only screen and (max-width: 300px) {
 
	.navbar .main-ul .main-li a{
		display:flex;
		justify-content:center;
		align-items:center;
		font-family: 'Merriweather', serif;
		padding:0.3vh 1vw;
		text-decoration:none;
		color:white;
		
		font-size:9px;
	}
	
	
	.navbar .main-ul .main-li:nth-child(2){
		margin-right:20px;
	}
	
	.navbar .main-ul .main-li{
		display:inline-block;
		margin:0px 1vw;
		padding:0.3vh 1vw;
		transition:all 0.5s;
		border-radius:10px 0px 10px 0px;
		border-top:2px solid transparent;
		border-left:2px solid transparent;
	}
	
	
}




/* sub ul and li ........................ */
.navbar .main-ul .main-li .sub-ul{
	
	border-right:2px solid #67AF06;
	border-bottom:2px solid #67AF06;
	
	position:absolute;
	margin:0px;
	padding:0px;
	
	margin-top:.2rem;
	/* margin-left:-.2rem; */
	
	
	opacity:0;
	visibility: hidden;
	transform:translate(0%,50%);
	
	background-color:#DC2552;
	border-radius:10px 0px 10px 0px;
	/* border-radius:10px 10px 0px 0px; */
	overflow:hidden;
	
	transition:all 0.5s;
	
}

#project_sub_li{
	margin-left:-.2rem;
}

#model_sub_li{
	margin-left:.4rem;
}

.navbar .main-ul .main-li .sub-ul li{
	
	/* border:1px solid blue; */
	margin:0px;
	padding:0px;
	list-style:none;
	
	margin:5px 0px;
	/* padding:2px 0px; */
}

.navbar .main-ul .main-li .sub-ul li a{
	
	text-decoration:none;
	/* margin:0px 10px; */
	/* border:1px solid red; */
}


.navbar .main-ul .main-li .sub-ul li .selected-sub-li{
	
	/* text-decoration:none; */
	/* background-color:#FF6539; */
	background-color:#FF8439;
	/* margin:0px 10px; */
	/* border:1px solid red; */
}

.navbar .main-ul .main-li .sub-ul li a:hover{
	
	
	background-color:orange;
}


/* #project_sub_li{ */
	/* display:none; */
	
/* } */

/* #project_main_li:hover #project_sub_li{ */
	/* display:block; */
/* } */


/* #model_sub_li{ */
	/* display:none; */
	
/* } */

/* #model_main_li:hover #model_sub_li{ */
	/* display:block; */
/* } */








.welcome-text{
	
	
	font-family: 'Mate SC', serif;
	/* font-family: 'Merriweather', serif; */
	/* font-family: 'Squada One', cursive; */
	/* font-family: 'ZCOOL KuaiLe', cursive; */

	/* border:1px solid green; */
	/* text-decoration:none; */
	/* padding:5px 15px; */
	/* font-weight:bold; */
	color:white;
	
	display:flex;
	justify-content:center;
	align-items:center;
	
	/* font-size:100px; */
	font-size:7.5vw;
	
	/* line-height:8rem; */
	text-shadow: 0px 0px 15px #FF0000, 0px 0px 20px #0000FF;
	
	position:relative;
	
	/* width:inherit; */
	
}









.main-body{
	
	/* margin:0px; */
	/* padding:0px; */
	width:100%;
	/* border:1px solid red; */
	margin-top:2vh;
	
}

.main-body .row{
	
	/* margin:0px; */
	/* padding:0px; */
	/* border:1px solid red; */
	/* width:100%; */
	
	/* overflow:hidden; */
}


.main-body .word-cloud-holder{
	
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
	
	width:100%;
	background:#D1FFE7;
	/* height:80px; */
	
	overflow:hidden;    /* ................................ */
	
	/* padding-bottom:50px; */
	
	/* border:1px solid red; */
	
	padding-top:20px;
	padding-bottom:20px;
}

.main-body .word-cloud-holder .word-cloud-title{
	
	width:100%;
	/* margin-top:10px; */
	/* border:1px solid blue; */
	/* background:#C2FDFF; */
	color:#500505;
	/* overflow:hidden; */
	display:flex;
	justify-content:center;
	align-items:center;
}

.main-body .word-cloud-holder .word-cloud-title .word-cloud-button{
	
	/* border:1px solid transparent; */
	/* border:1px solid red; */
	/* width:400px; */
	padding:2px 30px;
	/* margin-bottom:2px; */
	border-radius:3px;
	background:#FEE2B3;
	color:color;
	transition:all 0.5s;
	font-family: 'Mate SC', serif;
	font-size:20px;
	border-bottom:2px solid orange;
}



.main-body .word-cloud-holder .word-cloud-title .pointer-holder{
	opacity:0;
	visibility:hidden;
	/* display:none; */
	margin-left:320px;
	position:absolute;
	/* transition:all 0.5s; */
	/* border:1px solid red; */
}

@media only screen and (max-width:630px) {
 
	.main-body .word-cloud-holder .word-cloud-title .pointer-holder{
		
		display:none;
		margin-left:320px;
		position:absolute;
	}
	
}


.main-body .word-cloud-holder .word-cloud-title .hand-pointer{
	margin-left:50px;
	position:relative;
	/* width:200px; */
	/* border:1px solid red; */
	animation-duration: 1.7s;
	animation-iteration-count: infinite;
	
	display:flex;
}
.main-body .word-cloud-holder .word-cloud-title .hand-pointer{
	animation-name: bounce-5;
	animation-timing-function: ease;
}
@keyframes bounce-5 {
	0%   { transform: scale(1,1)    translateX(0); }
	10%  { transform: scale(1.1,.9) translateX(0); }
	30%  { transform: scale(.9,1.1) translateX(-50px); }
	50%  { transform: scale(1,1)    translateX(0); }
	57%  { transform: scale(1,1)    translateX(-4px); }
	64%  { transform: scale(1,1)    translateX(0); }
	100% { transform: scale(1,1)    translateX(0); }
}


.main-body .word-cloud-holder .word-cloud-title .hand-pointer img{
	
	/* position:re; */
	
	/* top:-50%; */
	/* transform:translate(-500%,-500%); */
	
	height:45px;
	width:45px;
	
	/* border:1px solid red; */
	
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.main-body .word-cloud-holder .word-cloud-title .hand-pointer .hand-pointer-text{
	
	
	/* top:-16.4%; */
	position:absolute;
	display:flex;
	justify-content:left;
	align-items:center;
	
	transform:translate(37%,45%);
	/* border:1px solid red; */
	/* margin-left:-5px; */
	font-size:18px;
	width:105px;
	/* font-family: 'Mate SC', serif; */
	/* font-family: 'Merriweather', serif; */
	font-family: 'Squada One', cursive;
	/* font-family: 'ZCOOL KuaiLe', cursive; */
}



.main-body .word-cloud-holder .word-cloud-title .word-cloud-button:hover{
	
	background:#E4FFC2;
	cursor:pointer;
	
}

.main-body .word-cloud-holder .word-cloud-title .word-cloud-button span{
	transition:all 0.5s;
}
.main-body .word-cloud-holder .word-cloud-title .word-cloud-button i{
	transform:rotate(180deg);
	color:#8B727E;
}




#word_cloud_button:hover{
	/* background:#20C456; */
}

#word_cloud_button:hover #word_cloud_text{
	color:darkred;
	text-shadow: 0px 0px 15px #8FFF00, 0px 0px 20px #8FFF00;
	/* color:black; */
	cursor:pointer;
}

#word_cloud_button:hover #word_cloud_icon{
	transition:all 1s;
	color:#FF5B8C;
	/* color:lightblue; */
	/* transform:rotate(0deg); */
}



/* cloud tab holder....................................................................................................... */
.main-body .word-cloud-holder .word-cloud-tab-holder{
	
	/* padding-top:10px; */
	/* border:1px solid blue; */
	width:100%;
	
	display:flex;
	justify-content:center;
	
	/* padding:5px; */
	/* padding-left:17px; */
	
	font-family: 'Mate SC', serif;
	/* background:#8BCBCD; */
	
	height:0px; 
	overflow:hidden;
}
.main-body .word-cloud-holder .cloud-tab-holder-child{
	
	/* padding-top:10px; */
	/* border:1px solid red; */
	width:100%;
	display:flex;
	
	/* padding:5px; */
	padding-left:17px;
	
	font-family: 'Mate SC', serif;
	/* background:#8BCBCD; */
	
	/* height:0px;  */
	overflow:hidden;
	
	max-width:1352px;
}

.main-body .word-cloud-tab-holder .word-cloud-tab{
	
	/* border:1px solid blue; */
	
	margin:0px 1px;
	padding:1px 10px;
	padding-top:3px;
	color:black;
	/* background:#E61F4D; */
	
	border:1px solid #E91249;
	border-bottom:none;
	border-radius:5px 5px 0px 0px;
	transition:all 0.5s;
	
	margin-top:10px;
}

.main-body .word-cloud-tab-holder .word-cloud-tab:hover{
	
	background:#F3839F;
	border-color:transparent;
}

.main-body .word-cloud-tab-holder .selected-word-tab{
	
	border:none;
	border-radius:5px 5px 0px 0px;
	background:#E91249;
	color:white;
}

.main-body .word-cloud-tab-holder .selected-word-tab:hover{
	
	background:#E91249;
	color:black;
}

.main-body .word-cloud-tab-holder .word-cloud-tab:hover{
	
	cursor:pointer;
}


/* slide making....................................................................................................... */
.main-body .img-slider-holder{
	
	/* border:1px solid green; */
	/* width:100%; */
	margin:0px 6px;
	overflow:hidden;
	border-radius:14px;
	/* background:#E91249; */
	height:0px;
	
	display:flex;
	justify-content:center;
	/* align-items:center; */
}


.main-body .img-slider-holder .slider-parent-support{
	
	/* background:#E91249; */
	background:#E91249;
	/* border:1px solid blue; */
	/* margin:7px; */
	padding:7px;
	/* display:flex; */
	border-radius:14px;
	overflow:hidden;
	/* width:100%; */
	max-width:1352px;
}
.main-body .img-slider-holder .slider-parent-support-2{
	
	/* border:1px solid blue; */
	border-radius:10px;
	overflow:hidden;
	
}

.main-body .img-slider-holder .slide-parent{
	
	/* background:#E91249; */
	/* background:#E91249; */
	/* border:1px solid blue; */
	width:300%;
	
	display:flex;
	justify-content:center;
	align-items:center;
	
	border-radius:14px;
	/* overflow:hidden; */
	/* width:100%; */
}
.main-body .img-slider-holder .slide-parent .slide-page{
	
	/* background:#E91249; */
	/* border:1px solid blue; */
	width:100%;
	/* width:100%; */
	/* padding:7px; */
	/* border-radius:10px; */
	
	/* overflow:hidden; */
}

.main-body .img-slider-holder .img-holder{
	
	/* border:1px solid blue; */
	width:100%;
	padding:0px;
	padding-right:7px;
}
@media only screen and (max-width: 768px) {
 
	.main-body .img-slider-holder .img-holder{
		
		width:100%;
		padding:0px;
		padding-bottom:7px;
	}
	
}


.main-body .img-slider-holder img{
	
	/* margin-right:7px; */
	/* border:1px solid blue; */
	width:100%;
	/* object-fit:fit; */
	object-fit:fill;
	/* object-fit:scale-down; */
	background:black;
	/* background:white; */
	border-radius:10px;
}

.main-body .img-slider-holder .word-cloud-des{
	/* border:1px solid blue; */
	border-radius:10px;
	background:black;
	color:white;
	font-style:bold;
	
	text-align:justify;
	font-family: 'Mate SC', serif;
	padding:10px 10px;
}



.main-body .arrow-icon{
	
	font-size:26px;
	color:darkgreen;
	/* border:1px solid blue; */
	
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.main-body .arrow-icon i{
	
	transform:rotate(180deg);
}

.main-body .arrow-icon i:hover{
	
	cursor:pointer;
}







































/* about part........................................................................................................... */

.about-part-container{
	
	
	/* border:1px solid red; */
	width:100%;
	
	padding:0px;
	margin:0px;
	
	/* margin-top:12px; */
	
	display:flex;
	justify-content:center;
	align-items: center;
	
	background-color:#FBF8F2;
}

.about-part-container .about-part-row{
	
	/* border:1px solid red; */
	width:96%;
	
	padding:0px;
	margin:20px 0px;
}


.about-part-container .about-part-row .about-parts{
	
	/* border:1px solid blue; */
	/* height:200px; */
	
	display:flex;
	justify-content:center;
	/* align-items: center; */
	margin:15px 0px;
}

.about-part-container .about-part-row .about-parts .about-box{
	
	/* border:1px solid red; */
	width:90%;
	padding:10px;
}


.about-part-container .about-part-row .about-parts .about-box .about-title{
	
	/* border:1px solid red; */
	font-size:20px;
	font-family: "Nunito", sans-serif;
	font-weight:600;
	
	display:flex;
	/* justify-content:center; */
	/* align-items: center; */
	
	padding:5px;
}





.about-part-container .about-part-row .about-parts .about-box .about-title .fa-circle{
	
	color:#FF6014;
	transform:translate(0%,-8%);
	font-size:30px;
	font-weight:600;
	margin-right:5px;
}


.about-part-container .about-part-row .about-parts .about-box .about-title .fa-info-circle{
	
	color:#49ACE8;
	transform:translate(0%,-8%);
	font-size:30px;
	font-weight:600;
	margin-right:5px;
}

.about-part-container .about-part-row .about-parts .about-box .about-title .fa-address-book{
	
	color:#494BE8;
	transform:translate(0%,-8%);
	font-size:30px;
	font-weight:600;
	margin-right:5px;
}


.about-part-container .about-part-row .about-parts .about-box .about-des{
	
	/* border:1px solid red; */
	font-family: "Nunito", sans-serif;
	font-size:16px;
	/* font-weight:600; */
	padding:5px;
	
}


.about-part-container .about-part-row .about-parts .about-box .information-des{
	
	/* border:1px solid red; */
	font-family: "Nunito", sans-serif;
	font-size:16px;
	font-weight:600;
	padding:3px 4px;
	margin-left:10px;
	
	/* color:#494D4D; */
}

.about-part-container .about-part-row .about-parts .about-box .information-des .fa-dot-circle{
	
	margin-right:5px;
}

.about-part-container .about-part-row .about-parts .about-box .information-des a{
	
	text-decoration:none;
	color:#494D4D;
	/* border:1px solid red; */
	transition:all 0.5s;
}

.about-part-container .about-part-row .about-parts .about-box .information-des a:hover{
	
	color:#0068FF;
}


.about-part-container .about-part-row .about-parts .about-box .contact-title{
	
	/* border:1px solid red; */
	margin-bottom:15px;
}

.about-part-container .about-part-row .about-parts .about-box .contact-des{
	
	/* border:1px solid red; */
	font-family: "Nunito", sans-serif;
	font-size:16px;
	font-weight:600;
	padding:3px 4px;
	margin-left:10px;
	
	color:#3B3D3D;
	display:flex;
	margin-top:2px;
}

.about-part-container .about-part-row .about-parts .about-box .contact-des .fa-map-marked-alt{
	
	/* border:1px solid red; */
	display:flex;
	transform:translate(0%,8%);
}

.about-part-container .about-part-row .about-parts .about-box .contact-des .fass{
	
	/* border:1px solid red; */
	display:flex;
	justify-content:center;
	align-items: center;
}

.about-part-container .about-part-row .about-parts .about-box .contact-des .des-only{
	
	/* border:1px solid red; */

}



.copyright-holder{
	
	/* border:1px solid red; */
	width:100%;

}

.copyright-holder .copyright-box{
	
	/* border:1px solid red; */
	width:100%;
	/* width:120%; */
	
	
	display:flex;
	justify-content:center;
	align-items: center;
	
	font-family: "Nunito", sans-serif;
	font-size:14px;
	
	padding:15px 0px;
	
	background-color:#B0EDFF;
}




.learnmore-part-container{
	
	/* border:1px solid red; */
	width:100%;
	
	padding:0px;
	margin:0px;
	
	display:flex;
	justify-content:center;
	align-items: center;
	
	/* height:100px; */
	/* background-color:#EEEBEB; */
}

.learnmore-part-container .learnmore-part-row{
	
	/* width:84%; */
	padding:0px;
	margin:20px 0px;
	/* border:1px solid red; */
	justify-content:center;
}


.learnmore-part-container .learnmore-part-row .learnmore-page-holder a{
	
	/* border:1px solid blue; */
	/* display:flex; */
	font-size:16px;
	font-weight:bold;
	color:#FF7C3E;
	/* width:100%; */
	
	text-decoration:none;
	transition:all 0.5s;
}

.learnmore-part-container .learnmore-part-row .learnmore-page-holder a:hover{
	
	color:#FF6014;
}

.learnmore-part-container .learnmore-part-row .learnmore-page-holder .fa-chevron-circle-right{
	
	/* border:1px solid blue; */
	/* display:flex; */
	font-size:16px;
	font-weight:bold;
	
	transform:translate(0%,7%);
}





@media only screen and (max-width:425px) {
 
	.about-part-container{
		/* border:1px solid red; */
		width:100%;
		padding:0px;
		margin:0px;
		display:flex;
		justify-content:center;
		align-items: center;
		background-color:#FBF8F2;
	}

	.about-part-container .about-part-row{
		
		/* border:1px solid red; */
		width:96%;
		padding:0px;
		margin:20px 0px;
	}


	.about-part-container .about-part-row .about-parts{
		
		display:flex;
		justify-content:center;
		margin:15px 0px;
	}

	.about-part-container .about-part-row .about-parts .about-box{
		
		/* border:1px solid red; */
		width:90%;
		padding:10px;
	}

	.about-part-container .about-part-row .about-parts .about-box .about-title{
		
		/* border:1px solid red; */
		font-size:16px;
		font-family: "Nunito", sans-serif;
		font-weight:600;
		display:flex;
		align-items: center;
		padding:5px;
	}

	.about-part-container .about-part-row .about-parts .about-box .about-title .fa-circle{
		/* border:1px solid red; */
		color:#FF6014;
		transform:translate(0%,-8%);
		font-size:30px;
		font-weight:600;
		margin-right:5px;
	}


	.about-part-container .about-part-row .about-parts .about-box .about-title .fa-info-circle{
		/* border:1px solid red; */
		color:#49ACE8;
		transform:translate(0%,-8%);
		font-size:25px;
		font-weight:600;
		margin-right:5px;
	}

	.about-part-container .about-part-row .about-parts .about-box .about-title .fa-address-book{
		
		color:#494BE8;
		transform:translate(0%,-8%);
		font-size:25px;
		font-weight:600;
		margin-right:5px;
	}


	.about-part-container .about-part-row .about-parts .about-box .about-des{
		
		/* border:1px solid red; */
		font-family: "Nunito", sans-serif;
		font-size:14px;
		padding:5px;
		
	}


	.about-part-container .about-part-row .about-parts .about-box .information-des{
		
		/* border:1px solid red; */
		font-family: "Nunito", sans-serif;
		font-size:14px;
		font-weight:600;
		padding:3px 4px;
		margin-left:10px;
		
		/* color:#494D4D; */
	}

	.about-part-container .about-part-row .about-parts .about-box .information-des .fa-dot-circle{
		
		margin-right:5px;
	}

	.about-part-container .about-part-row .about-parts .about-box .information-des a{
		
		text-decoration:none;
		color:#494D4D;
		/* border:1px solid red; */
		transition:all 0.5s;
	}

	.about-part-container .about-part-row .about-parts .about-box .information-des a:hover{
		
		color:#0068FF;
	}


	.about-part-container .about-part-row .about-parts .about-box .contact-title{
		
		/* border:1px solid red; */
		margin-bottom:15px;
	}

	.about-part-container .about-part-row .about-parts .about-box .contact-des{
		
		/* border:1px solid red; */
		font-family: "Nunito", sans-serif;
		font-size:14px;
		font-weight:600;
		padding:3px 4px;
		margin-left:10px;
		
		color:#3B3D3D;
		display:flex;
		margin-top:2px;
	}

	.about-part-container .about-part-row .about-parts .about-box .contact-des .fa-map-marked-alt{
		
		/* border:1px solid red; */
		display:flex;
		transform:translate(0%,8%);
	}

	.about-part-container .about-part-row .about-parts .about-box .contact-des .fass{
		
		/* border:1px solid red; */
		display:flex;
		justify-content:center;
		align-items: center;
	}

	.about-part-container .about-part-row .about-parts .about-box .contact-des .des-only{
		
		/* border:1px solid red; */

	}



	.copyright-holder{
		
		/* border:1px solid red; */
		width:100%;

	}

	.copyright-holder .copyright-box{
		
		/* border:1px solid red; */
		width:100%;
		/* width:120%; */
		
		
		display:flex;
		justify-content:center;
		align-items: center;
		
		font-family: "Nunito", sans-serif;
		font-size:12px;
		
		padding:15px 0px;
		
		background-color:#B0EDFF;
	}




	.learnmore-part-container{
		
		/* border:1px solid red; */
		width:100%;
		
		padding:0px;
		margin:0px;
		
		display:flex;
		justify-content:center;
		align-items: center;
		
		/* height:100px; */
		/* background-color:#EEEBEB; */
	}

	.learnmore-part-container .learnmore-part-row{
		
		/* width:84%; */
		padding:0px;
		margin:20px 0px;
		/* border:1px solid red; */
		justify-content:center;
	}


	.learnmore-part-container .learnmore-part-row .learnmore-page-holder a{
		
		/* border:1px solid blue; */
		/* display:flex; */
		font-size:16px;
		font-weight:bold;
		color:#FF7C3E;
		/* width:100%; */
		
		text-decoration:none;
		transition:all 0.5s;
	}

	.learnmore-part-container .learnmore-part-row .learnmore-page-holder a:hover{
		
		color:#FF6014;
	}

	.learnmore-part-container .learnmore-part-row .learnmore-page-holder .fa-chevron-circle-right{
		
		/* border:1px solid blue; */
		/* display:flex; */
		font-size:16px;
		font-weight:bold;
		
		transform:translate(0%,7%);
	}

}





