.teaminfo-holder{
	
	margin:0px;
	padding:0px;
	/* border:1px solid red; */
	margin-top:2vh;
	background:#F6EEF0;
	
	padding-top:15px;
	padding-bottom:30px;
	/* height:2000px; */
	
	
}

.teaminfo-holder .teaminfo-row{
	margin:0px;
	padding:0px;
	/* border:1px solid blue; */
	
	display:flex;
	justify-content:center;
	align-items:center;
}

.teaminfo-holder .teaminfo-row .team-title{
	/* margin:0px; */
	/* padding:0px; */
	
	width:100%;
	/* border:1px solid blue; */
	
	display:flex;
	justify-content:center;
	align-items:center;
}
.teaminfo-holder .teaminfo-row .team-title .title-only{
	
	/* margin-top:15px; */
	margin-bottom:10px;
	/* border:1px solid blue; */
	display:flex;
	/* padding-bottom:-5px; */
	padding:0px 25px;
	border-bottom:2px solid lightblue;
	font-family: "Nunito", sans-serif;
	font-size:22px;
	font-weight:bold;
}

@media only screen and (max-width: 768px) {
 
    .teaminfo-holder .teaminfo-row .team-title .title-only{
		/* margin-top:15px; */
		margin-bottom:10px;
		/* border:1px solid blue; */
		display:flex;/
		padding:0px 25px;
		border-bottom:2px solid lightblue;
		font-family: "Nunito", sans-serif;
		font-size:18px;
		font-weight:bold;
	}
}
@media only screen and (max-width: 425px) {
 
    .teaminfo-holder .teaminfo-row .team-title .title-only{
		/* margin-top:15px; */
		margin-bottom:10px;
		/* border:1px solid blue; */
		display:flex;/
		padding:0px 25px;
		border-bottom:2px solid lightblue;
		font-family: "Nunito", sans-serif;
		font-size:16px;
		font-weight:bold;
	}
}





/* team info holder.................................................................... */
.teaminfo-holder .teaminfo-row .separator-info-div{
	margin:15px 0px;
	
	max-width:700px;
	/* margin-left:25%; */
	width:50%;
	border:1px solid lightblue;
	/* border:1px solid red; */
}

.teaminfo-holder .teaminfo-row .team-info-img-holder{
	width:100%;
	/* border:1px solid blue; */
	
	display:flex;
	justify-content:center;
	align-items:center;

}


.teaminfo-holder .teaminfo-row .team-info-img-holder .container{
	margin:0px;
	padding:0px;
	/* border:1px solid blue; */
	/* padding:15px; */
	
	display:flex;
	justify-content:center;
	align-items:center;
}

.teaminfo-holder .teaminfo-row .team-info-img-holder .container .row{
	margin:0px;
	padding:0px;
	
	background:#E0EDF3;
	/* border:1px solid red; */
	padding:15px;
	width:100%;
	border-radius:14px;
}


@media only screen and (max-width: 575px) {
 
	
	.teaminfo-holder .teaminfo-row .team-info-img-holder .container .row{
		margin:0px;
		padding:0px;
		background:#E0EDF3;
		padding:10px;
		width:100%;
		border-radius:14px;
		/* border:1px solid red; */
		margin:0px 10px;
	}
	
}



.teaminfo-holder .teaminfo-row .team-info-img-holder .img-holder{
	/* border:1px solid aqua; */
	/* width:100%; */
	padding:0px;
	
	border-radius:7px;
	overflow:hidden;
}

.teaminfo-holder .teaminfo-row .team-info-img-holder .img-holder img{
	
	padding:0px;
	width:100%;
	height:400px;
	object-fit:cover;
	object-position: top center;
	
	border-radius:7px;
	transition:all 0.5s;
}

.teaminfo-holder .teaminfo-row .team-info-img-holder .img-holder img:hover{
	
	transform:scale(1.2);
}

.teaminfo-holder .teaminfo-row .team-info-img-holder .des-holder-right{
	
	/* border:1px solid blue; */
	/* padding:0px; */
	
	padding:0px 20px;
	padding-right:10px;
	width:100%;
	
	/* text-align: justify; */
	/* text-justify: inter-word; */
	
	display:flex;
	justify-content:center;
	align-items:center;
}

.teaminfo-holder .teaminfo-row .team-info-img-holder .name{
	/* border:1px solid red; */
	font-family: 'Mate SC', serif;
	color:black;
	font-size:20px;
	font-weight:bold;
	width:100%;
	/* margin-bottom:1px; */
	
	display:flex;
	justify-content:center;
	align-items:center;
	
}

@media only screen and (max-width: 768px) {
 
	
	.teaminfo-holder .teaminfo-row .team-info-img-holder .name{
		
		margin-top:15px;
		/* border:1px solid red; */
		font-family: 'Mate SC', serif;
		color:black;
		font-size:18.5px;
		font-weight:bold;
		/* width:100%; */
		
		display:flex;
		justify-content:center;
		align-items:center;
		
	}
	
}
@media only screen and (max-width: 425px) {
 
    .teaminfo-holder .teaminfo-row .team-info-img-holder .name{
		
		margin-top:15px;
		/* border:1px solid red; */
		font-family: 'Mate SC', serif;
		color:black;
		font-size:17px;
		font-weight:bold;
		/* width:100%; */
		
		display:flex;
		justify-content:center;
		align-items:center;
		
	}
}





.teaminfo-holder .teaminfo-row .team-info-img-holder .des{
	/* border:1px solid red; */
	width:100%;
	font-family: 'Merriweather', serif;
	font-size:16px;
	
	/* display:flex; */
	/* justify-content:center; */
	/* align-items:center; */
}
.teaminfo-holder .teaminfo-row .team-info-img-holder .des .other-info{
	
	margin-top:15px;
	margin-bottom:10px;
	/* border:1px solid red; */
	/* width:100%; */
	font-family: 'Merriweather', serif;
	/* font-size:16px; */
	
	font-style:italic;
	
	display:flex;
	justify-content:center;
	align-items:center;
}


.teaminfo-holder .teaminfo-row .team-info-img-holder .extra-title{
	width:100%;
	/* border:1px solid red; */
	font-weight:bold;
	/* font-style:italic; */
	
	display:flex;
	justify-content:center;
	align-items:center;
	
	color:#2886A9;
}
.teaminfo-holder .teaminfo-row .team-info-img-holder .des .quotes{
	/* border:1px solid red; */
	width:100%;
	font-weight:bold;
	font-style:italic;
	font-size:15px;
	
	display:flex;
	justify-content:center;
	align-items:center;
	
	color:#434C4F;
}


@media only screen and (max-width: 768px) {
 
	
	.teaminfo-holder .teaminfo-row .team-info-img-holder .des{
		/* border:1px solid red; */
		/* width:100%; */
		font-family: 'Merriweather', serif;
		font-size:14.7px;
	}
	.teaminfo-holder .teaminfo-row .team-info-img-holder .des .quotes{
		/* border:1px solid red; */
		width:100%;
		font-weight:bold;
		font-style:italic;
		font-size:14px;
		display:flex;
		justify-content:center;
		align-items:center;
	}
}
@media only screen and (max-width: 425px) {
 
    .teaminfo-holder .teaminfo-row .team-info-img-holder .des{
		/* border:1px solid red; */
		/* width:100%; */
		font-family: 'Merriweather', serif;
		font-size:14px;
	}
	.teaminfo-holder .teaminfo-row .team-info-img-holder .des .quotes{
		/* border:1px solid red; */
		width:100%;
		font-weight:bold;
		font-style:italic;
		font-size:13.5px;
		display:flex;
		justify-content:center;
		align-items:center;
	}
}




/* left description ................................................................................. */
.teaminfo-holder .teaminfo-row .team-info-img-holder .des-holder-left{
	
	/* border:1px solid blue; */
	/* padding:0px; */
	
	padding:0px 10px;
	padding-left:0px;
	width:100%;
	
	/* text-align: justify; */
	/* text-justify: inter-word; */
	
	display:flex;
	justify-content:center;
	align-items:center;
}

/* left right prob solve ................................................................ */
@media only screen and (max-width: 768px) {
 
    .teaminfo-holder .teaminfo-row .team-info-img-holder .des-holder-left{
		/* border:1px solid blue; */
		padding:0px 10px;
		padding-left:0px;
		width:100%;
		
		text-align: justify;
		text-justify: inter-word;
		
		order:3;
	}
	
	.teaminfo-holder .teaminfo-row .team-info-img-holder .img-holder img{
	
		/* border:1px solid red; */
		padding:0px;
		width:100%;
		min-height:150px;
		height:50vh;
		object-fit:cover;
		object-position: top center;
		border-radius:7px;
		transition:all 0.5s;
	}
}
@media only screen and (max-width: 425px) {
 
	.teaminfo-holder .teaminfo-row .team-info-img-holder .img-holder img{
	
		/* border:1px solid red; */
		padding:0px;
		width:100%;
		min-height:150px;
		height:40vh;
		object-fit:cover;
		object-position: top center;
		border-radius:7px;
		transition:all 0.5s;
	}
}





























































































































